<%  layout("/layouts/boilerplate") %>

<body>
    <h3>Create a new Listing</h3>

    <form action="/listings" method="post">

        <input type="text" name="listing[title]" placeholder="Enter title">
        <br> <br>
        <textarea name="listing[description]" cols="20" rows="5" placeholder="Enter description"></textarea>
        <br> <br>
        <input type="text" name="listing[image]" placeholder="Enter image URL/Link">
        <br> <br>
        <input type="text" name="listing[price]" placeholder="Enter price" type="number">
        <br> <br>
        <input type="text" name="listing[country]" placeholder="Enter country">
        <br> <br>
        <input type="text" name="listing[location]" placeholder="Enter location">

        <br> <br>

        <button>Add</button>
    </form>


</html>